#h{
	background-image: url(../../auction/auctionsample/o1.png);
	background-position: center;
	background-repeat: no-repeat;
	width:1280px;
	height: 720px;
}
 #ft{
	text-align: center;
	font-style: italic;
	font-stretch: expanded;
	color: #9ACD32;
	width:25px;
	clear:both;
	text-align:center;
	width:1280px;
	padding-bottom: 30px;
	font-size: 20px;
}
#am{
	text-align: center;
	font-style: italic;
	font-size: 40px;
	font-stretch: expanded;
	font-weight: bold;
	color: #FF0000;
}
#f{
	font-size: 16px;
	background-color:#808080;
	background-position: center;
	padding: right;
	height: 665px ;
	width: 440px ;
	text-align: center;
margin: 0px auto;
margin-top:1px
	
}
h1{
	text-align: center;
}
#s{
	
	padding: center;
	float:right;
	text-align: center;
	height: 665px ;
	width: 440px ;
}
#c{
	text-align: center;
	margin: 0px 5px 10px 20px;
	float:left;
}